<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnFailure="false">

    <testsuites>
        <testsuite name="atlas-web-framework-feedback-survey">
            <directory>./src/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Tests</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="Tests/_reports/logs/clover.xml"/>
        <log type="coverage-html" target="Tests/_reports/coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-text" target="Tests/_reports/testdox/executed.txt"/>
    </logging>
</phpunit>
